//botones

.btn-outlined{
    cursor: pointer;
    border: 2px solid #000000;
    color: #000000;
    background-color: transparent;
    padding: 0px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .2em;
    padding: 0.55em 1.5em 0.5em;
    text-transform: uppercase;
    margin-top: 0.5rem
}

.btn-main{
    cursor: pointer;
    background: linear-gradient(345deg, rgb(73, 12, 176) 0%, rgb(155, 52, 239) 33%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%) 99% 50% / 400% 400%;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    overflow: hidden;
    transition: all 0.5s ease 0s !important;
    font-size: 16px;

    &:hover{
    background-position: 1% 50%;
    border: 2px solid rgb(198, 0, 255);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s !important;
    }
}

.text-center{
    text-align: center;
}

.separador{
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #585858;
    border-width: 1px;
    width: 200px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}