@font-face {
    font-family:'Gilroy';
    src: url(../assets/fonts/Gilroy-Medium.ttf), url(../assets/fonts/Gilroy-Bold.ttf), url(../assets/fonts/Gilroy-Heavy.ttf);
}

:root{
    font-family: 'Gilroy';
}