/* 
 *
 *
*/

/* z-index  */
$z-index-default: 00;
$z-index-medium: 50;
$z-index-max: 90;


/* opacity  */
$opacity-01: rgba(0,0,0,.1);
$opacity-02: rgba(0,0,0,.2);
$opacity-03: rgba(0,0,0,.3);



/* Variables header  */
$header-background: $opacity-03;

