.o-footer{
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;

    &__nav{
    display: flex;
    margin: 0 auto;
    max-width: 1140px;

    @include s-mediaq($s-tablet){
        max-width: 540px;
    }
    
    & ol{
        display: inline-flex;
        text-align: center;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;
        text-transform: uppercase;
        color: $color-purple;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: .2em;
        padding: 0px;
    }

    & li{
        padding: 1em 1.5em ;
    }
    }

    &__copyright{
        & p{
            color: $color-purple;
            text-align: center;
            font-size: 60%;
            margin-top: 0;
            }
    }
}
