.o-bigImage-mobile {
    background-image: url(../assets/img/opt_HOTD_keyart_mobile_NEW_0.jpg);
    padding-top: 53px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include lg-mediaq($lg-desktop){
        display: none;
    }

    @include s-mediaq($s-mobile){
        background-size: contain;
     }

    &::before{
    background-image: linear-gradient(0deg, rgba(3, 3, 40, 1) 30%, rgba(3, 3, 40, 0) 50%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
    }
    &__box{
        display: flex;
        justify-content: center;
    }
    &__content{
        display: flex;
        flex-direction: column-reverse;
        z-index: 1;

    }
    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        & h1{
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    
        }
    
        & img{
            max-width: 500px;
            margin-top: 70vw;
            @include s-mediaq($s-mobile){
                max-width: 100%;
             }
        
        }
    
        & .btn-main{
            width: 300px;
        }
    }
    &__price_month{
        & h2{
        line-height: 0.8em;
        font-size: 2.2rem;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        color: white;

        }

        & h3{
            margin-top: 0em;
            margin-bottom: 1.2rem;
            font-size: 1rem;
            color: white;
        }
    }

    &__price_anual{
        & h2{
        line-height: 0.8em;
        font-size: 2.2rem;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        color: white;

        }

        & h3{
            margin-top: 0em;
            margin-bottom: 1.2rem;
            font-size: 1rem;
            color: white;
        }
    }

}



