
@media (max-width: 575px) {
    .box_main-mobile img {
        width: 100%;
    }

    .content_banner img {
        max-width: 200px;
    }

    .content_banner {
        padding: 2em 0;
        margin-top: 36vh;
    }
}